NAME ANUJ KUMAR <br>
BOOTCAMP DAY 02

1.	Given a list of integers, remove all occurrences of a specific value using a list method.

In [ ]:
l = [1, 2, 3, 4, 2, 2, 5, 2]
value_to_remove = 2
l = [x for x in l if x != value_to_remove]
l

[1, 3, 4, 5]

2.	Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [ ]:
l1 = ["Hello", "welcome", "to", "the", "bootcamp"]
result = " ".join(l1)
result

'Hello welcome to the bootcamp'

3.	Reverse a list of integers using a built-in list method.

In [ ]:
l3 = [4,1,6,71,7,0,4]
l3.reverse()
l3

[4, 0, 7, 71, 6, 1, 4]

4.	Sort a list of numbers in descending order using a built-in list method.

In [ ]:
l4 = [4,1,6,7,1,7,0,4]
l4.sort(reverse=True)
l4

[7, 7, 6, 4, 4, 1, 1, 0]

5.	Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
combined_list = list(set(list1 + list2))
combined_list

[1, 2, 3, 4, 5, 6, 7]

6.	Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [ ]:
t = (3,8,5,1,9,4)
t1=list(t)[1:-1]
# tup = t1[1:-1]
t1

[8, 5, 1, 9]

7.	Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [ ]:
ls = [(1,2),(3,4),(5,6)]
sep = [x for x, _ in ls]
sep

[1, 3, 5]

8.	Combine two tuples into a single tuple.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
comb_tuple = tuple1 + tuple2
comb_tuple

(1, 2, 3, 4, 5, 6)

9.	Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [ ]:
num = (10, 20, 5, 40, 30)
maxi = max(num)
mini = min(num)
print(maxi)
print(mini)

40
5

10.	Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [ ]:
s_tup = ("How", "are", "you")
comb_s = ', '.join(s_tup)
comb_s

'How, are, you'

11.	Given two sets, return the union of the two sets using a set operation.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 1, 5}
opr = set1.union(set2)
opr
# set_opr = set1 | set2

{1, 2, 3, 4, 5}

12.	Find the intersection of two sets using a set method.

In [ ]:
inter_opr = set1.intersection(set2)
inter_opr

{1, 3}

13.	Remove all elements from one set that are also present in another set using a set method.

In [ ]:
set1.intersection_update(set2)
set1

{1, 3}

14.	Find the difference between two sets using a set method.

In [ ]:
diff_opr = set1.difference(set2)
diff_opr

set()

15.	Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [ ]:
num_list = [1, 2, 3, 4, 5, 1, 2, 3]
num_set = set(num_list)
s = list(num_set)
s

[1, 2, 3, 4, 5]

16.	Merge two dictionaries into a single dictionary using a dictionary method.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}
merged_dict

{'a': 1, 'b': 3, 'c': 4}

17.	Extract all values from a dictionary into a list using a dictionary method.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
values_list = list(my_dict.values())
values_list

[1, 2, 3]